.page-battlesheet  {
  .page-head {
    display: none;
  }
  .page-main {
    padding: 0;
  }
  h1 {
    padding:0;
    margin:5px;
  }
  .wrapper {
    display: flex;
    width: 100vw;
    overflow: hidden;
    .count-area {
      background-color: #000;
      color: #fff;
      height: 100vh;
      font-size: 0.8rem;
      flex-basis: 2.8rem;
      margin-left: auto;
      ul {
        margin: 0;
      }
      li {
        height: 1.2rem;
        line-height: 1.6;
        box-sizing: border-box;
        border-top: solid #eee 1px;
        text-align: center;
        &:nth-child(6n),
        &:nth-child(6n-1),
        &:nth-child(6n-2), {
          background-color: #555;
        }
        &.current {
          color: #000;
          background-color: yellow;
        }
      }

      
    }
    .main-area{
      width: 80vw;
      padding: 5px;
    }
  }

}