.page-battlesheet  {
  .page-head {
    display: none;
  }
  .page-main {
    padding: 0;
  }
  h1 {
    padding:0;
    margin:5px;
  }
  .wrapper {
    display: flex;
    overflow: hidden;

    .count-area {
      height: 100vh;
      font-size: 0.8rem;
      flex-basis: 2.8rem;
      margin-left: auto;
      display: flex;


      > div > div{
        width: 32px;// アイコンを中央に
      }
      ul {
        margin: 0;
      }
      li {
        height: 1.2rem;
        line-height: 1.6;
        box-sizing: border-box;
        text-align: center;
        position: relative;
      }
      .count-numbers {
        background-color: #000;
        color: #fff;

        li {
          width: 30px;
          border-top: solid #eee 1px;

          &:nth-child(6n),
          &:nth-child(6n-1),
          &:nth-child(6n-2) {
            background-color: #555;
          }
          &.current {
            color: #000;
            background-color: yellow;
          }
        }
      }
    }
    .count-characters {
      $bgColor: #000;
      $fontColor: #fff;

      .character-name {
        white-space: nowrap;
        font-size: 0.5rem;
        padding: 2px;
      }
      
      .multiple-characers {
        .characters-title {
          border: solid 1px $bgColor;
          padding: 1px;
        }
        ul {
          margin-right: 10px;
          border: solid 1px $bgColor;
          border-top: none;
          padding-left :1px;
          padding-right:1px;
        }
        ul.hide {
          display: none;
        }
      }
      .triangle-wrapper {
        display: flex;
        align-items:center;

        .triangle{
          $size: 5px;
          width: 0;
          height: 0;
          border-left: $size solid #000;
          border-right: $size solid transparent;
          border-bottom: $size solid transparent;
          border-top: $size solid transparent;
          margin-left: auto; // 右端に寄せる
        }
      }

    }
    .main-area{
      max-width: 80vw;
      padding: 5px;
    }
  }

}

@media (min-width: 1260px) {
  .page-battlesheet {
    .page-main {
      grid-row: 1;
    }
    .page-foot {
      grid-column: -1/1;
    }
  } 
}