@charset "UTF-8";
body {
  margin: 0px;
  font-family: 'メイリオ', 'Hiragino Kaku Gothic Pro', sans-serif;
}

.page * {
  margin: 0;
  padding: 0;
}

// 基本設定
header {

  img {
    width: 80px;
    vertical-align: bottom; // 余計な余白が入るのを防ぐ
  }
}


.page-nav,
.page-btn-close {
  display: none;
}

// グリッド

.page {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

$bgColorHeadFoot: #222;

// ヘッダー
.page-head {
  grid-column: 1;
  grid-row: 1;
  padding: 15px 0;
  background-color: $bgColorHeadFoot;
  text-align: center;
}

// メインコンテンツ
.page-main{
  grid-column: 1;
  grid-row: 2;
}

// ナビゲーション
.page-nav {
  grid-column: 1;
  grid-row: 2;
}

// ボタン

.page-btn,
.page-btn-close {
  grid-column: 1;
  grid-row: 1;
  justify-self: right;
  align-self: center;
}

// フッタ
.page-foot {
  grid-column: 1;
  grid-row: 3;
  padding: 20px 0;
  background-color: $bgColorHeadFoot;
  text-align: center;
  color: #fff;
  font-size: 14px;
}