@charset "UTF-8";

body {
  font-family: "メイリオ", "Hiragino Kaku Gothic Pro", sans-serif;
  margin: 0;
}

.page * {
  margin: 0;
  padding: 0;
}

// 基本設定
header {
  img {
    vertical-align: bottom; // 余計な余白が入るのを防ぐ
    width: 80px;
  }
}

// グリッド

.page {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

$bgColorHeadFoot: #222;

// ヘッダー
.page-head {
  background-color: $bgColorHeadFoot;
  grid-column: 1;
  grid-row: 1;
  padding: 15px 0;
  text-align: center;
}

// メインコンテンツ
.page-main {
  grid-column: 1;
  grid-row: 2;
}

// ナビゲーション
.page-nav {
  background-color: rgba(0, 0, 0, 0.8);
  grid-column: 1;
  grid-row: 2;
  z-index: 100;
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  a {
    border-bottom: solid 1px #aaa;
    color: #fff;
    display: block;
    font-size: 20px;
    margin: 30px;
    text-decoration: none;
  }
}


// ボタン

.page-btn,
.page-btn-close {
  align-self: center;
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 28px;
  grid-column: 1;
  grid-row: 1;
  justify-self: right;
  padding: 20px;
}

.page-nav,
.page-btn-close {
  display: none;
}

.open {
  .page-nav,
  .page-btn-close {
    display: block;
  }

  .page-btn {
    display: none;
  }
}

// フッタ
.page-foot {
  background-color: $bgColorHeadFoot;
  color: #fff;

  // フッタ内でgridレイアウト
  display: grid;
  font-size: 14px;
  grid-column: 1;
  grid-row: 3;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 20px 0;
  text-align: center;

  .copy-right {
    grid-column: 2;
    grid-row: 1;
  }

  .sns-icons {
    grid-column: 1;
    grid-row: 1;
    padding-left: 20px;
    width: 80px;
  
    ul {
      display: grid;
      grid-auto-flow: column;
      grid-column-gap: 20px;
      grid-row-gap: 10px;
      list-style-type: none;
      padding: 5px;
    }

    a {
      $iconColor: #aaa;
      $fontSize: 1em;
      $fontBorderSize: 1.5em;
      border: solid 2px $iconColor;
      border-radius: 50px;
      color: $iconColor;
      display: block;
      font-size: $fontSize;
      height: $fontBorderSize;
      line-height: $fontBorderSize;
      text-align: center;
      text-decoration: none;
      width: $fontBorderSize;
    }
  }

  .foot-links {
    grid-column: 3;
    grid-row: 1;
    list-style: none;

    margin: 0;
    padding: 0;
    
    a {
      border-bottom: solid 1px #aaa;
      color: #fff;
      display: block;
      font-size: 8px;
      max-width: 100px;
      text-decoration: none;
    }
  }
}

// markdownのシンプルなページでのデザイン 
.content {
  h2,
  h3,
  h4 {
    font-weight: bold;
    padding-top: 10px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 16px;
  }

  ul {
    padding-left: 40px;

    li {
      list-style-type: disc;
    }
  }
}


// ##### 画面の横幅1260ピクセル以上 #####

@media (min-width: 1260px) {
  .page {
    grid-template-columns: 260px 1fr;
  }

  // メインコンテンツ
  .page-main {
    grid-column: 2;
    grid-row: 1/ -1;
  }
  // ヘッダ
  .page-head {
    padding: 40px 0;

    img {
      width: 150px;
    }
  }

  // ナビゲーション

  .page-nav {
    background-color: $bgColorHeadFoot;
    display: block;
  }

  // ボタン
  .page-btn {
    display: none;
  }

  // フッタ
  .page-foot {
    padding: 40px 0;
  }

  // markdownのシンプルなページでのデザイン 
  .content {
    padding-left: 30px;


  }

  // materialize.css で上書きされるので初期化
  nav {
    height: auto;
    line-height: initial;
  }
}



//  ##### 個別ページ ##### 

//  =====##### トップページ #####=====

.top-header {
  h1 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 15vw;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.2em;
    margin-left: 0.2em;
  }
  h2 {
    font-size: 8vw;
  }

  // 画像がはみ出さないように修正
  .top-image {
    max-width: 90vw;
    max-height: 35vh;
    overflow: hidden;
    display: block;
  }
}

.page-main {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
}

@media (min-width: 768px){
  .top-header {
    h1 {
      font-size: 115px;
    }
    h2 {
      font-size: 80px;
    }

    .top-image {
      max-height: 40vh;
      display: block;
    }
  }
}

// 基本色
:root {
  --main-color: #5D9AB2;
  --accent-color: #BF6A7A;
  --dark-color: #2B5566;
  --text-bright-color: #fff; // テキストの色
  --icon-color: #fff;        // アイコンの色
  --icon-bk-color: #ddd;     // 丸型ボックスの色
  --gray-color: #ddd;
  --large-width: 1000px;       // 横幅の最大値
  --middle-width: 800px;
}

.rulebook-title h1 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}

// コンテンツページ
.content{
  h1 {
    // 見出しの行頭にバーをつけたデザイン
    padding-left: 0.5rem;
    border-left: solid 0.75rem var(--accent-color);
    font-size: 2rem;
  }
  .content-doc {
    white-space: pre-wrap; 
    word-wrap: break-word;
  }
}
