service cloud.firestore {
  match /databases/{database}/documents {

    function isAuthenticated() {
      return request.auth != null;
    }

    function isUserAuthenticated(userId) {
      return request.auth.uid == userId;
    }
    
    function isCharacterUser() {
      return request.auth != null && resource.data.uid == request.auth.uid;
    }

    match /users/{userId} {
      allow create, read: if isAuthenticated();
      allow update: if isUserAuthenticated(userId);

      match /characters/{characterId} {
        allow create: if isAuthenticated();
        allow read, update, delete: if isCharacterUser();
      }
    }
    match /characters/{characterId} {
      allow read;
    }
    match /publish/all/characters/{characterId} {
      allow read;
    }
    match /publish/all/enemies/{enemyId} {
      allow read;
    }
    match /{documents=**} {
      allow read: if isAuthenticated();
    }
  }
}